* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #d1c4d5d1;
    width: 80%;
    margin: 0% auto;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#presentacion {
    display: flex;

    justify-content: space-around;
    margin-top: 24px;
    margin-bottom: 24px;
}


.izquierda {
    width: 30%;
    text-align: center;
}

.derecha {
    display: flex;
    width: 60%;
    align-items: center;
}

#sobre-mi h2 {
    padding-bottom: 28px;
}

#sobre-mi p {
    font-size: 20px;
}

#foto {
    width: 200px;
    border-radius: 50%;
}

#datosRelevantes {
    display: flex;
    width: 98%;
    justify-content: space-around;
    margin-top: 48px;
    margin-bottom: 24px;
}

#experiencia {
    width: 50%;
    margin: 0% auto;

}

#experiencia h2 {
    text-align: center;
}


.proyecto {
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 12px;
    border: 1px solid #a226c1;
    margin-top: 8px;
    padding: 4px;
}

.proyecto>p {
    margin-bottom: 8px;
}

h3 {
    padding-top: 4px;
    padding-bottom: 4px;
}

.proyecto>p>strong {
    display: inline-block;
    margin-bottom: 8px;
}

span {
    background-color: #cc94ddd1;
    padding: 4px;
    margin-left: 8px;
    border-radius: 12px;
    border: 1px solid #a226c1;
}


.link {
    display: flex;
    justify-content: center;
}

.link a {
    margin-right: 24px;
    text-decoration: none;
    background-color: #5d186e;
    color: white;
    padding: 4px;
    border: 1px solid white;
    border-radius: 12px;
    margin-top: 8px;
}

#conocimientos {
    width: 30%;
    text-align: center;
}

#divImg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.iconoConocimiento img {
    width: 80%;
    padding-top: 24px;
    padding-bottom: 20px;
}

footer {
    width: 100%;
    text-align: center;
}

#socialMedia {
    display: flex;
    margin: 0px auto;
    width: 80%;
    justify-content: space-evenly;
}

@media (max-width: 1200px) {

    #presentacion {
        display: block;
    }

    .izquierda {
        margin: 0px auto;
        width: 90%;

    }

    .derecha {
        margin: 0px auto;
        margin-top: 48px;
        width: 80%;
    }

    #sobre-mi h2 {
        text-align: center;
    }

    #datosRelevantes {
        display: block;
        margin: 0px auto;
        width: 100%;

    }

    #experiencia {
        width: 80%;
    }

    #experiencia h2 {
        text-align: center;
    }

    .proyecto {
        border-radius: 12px;
        border: 1px solid #a226c1;
        margin-top: 8px;
        padding: 4px;
        text-align: center;
    }

    .proyecto h3 {
        margin-bottom: 12px;
    }

    .proyecto p {
        text-align: initial;
    }

    .proyecto>p>strong {
        display: block;
        text-align: center;
    }

    span {
        display: inline-block;
        margin-bottom: 8px;
    }

    .link {
        flex-direction: column;
    }

    a {
        margin: 0px auto;
    }

    #conocimientos {
        width: 80%;
        margin: 0px auto;
        margin-top: 24px;
    }

}